<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2" preserve-order="true" >
	<test name="Test - 1" thread-count="1">
		<classes>
			<class name="com.modular.parallel.TestGoogle" />
		</classes>
	</test> <!-- Test -->
	<test name="Test - 2" thread-count="1">
		<classes>
			<class name="com.modular.parallel.TestYoutube" />
		</classes>
	</test> <!-- Test -->
	<test name="Test - 3" thread-count="1">
		<classes>
			<class name="com.modular.parallel.TestFaceBook" />
			<class name="com.modular.parallel.TestJavaScript" />
		</classes>
	</test>
</suite> <!-- Suite -->
